:root {
  --default: #d3d3d3;
  --cherry: #ec1f28;
  --black: #000;
}

.menu-container {
  position: relative;
  display: flex;
}

.menu-trigger {
  background: #ffffff;
  border-radius: 33.1827px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.75px solid var(--default);
  /* min-width: 230px; */
  padding: 7px 26px;
}

.MuiSvgIcon-root {
  color: var(--cherry);
  cursor: pointer;
}

.menu-trigger:hover {
  /* effect */
}


.menu-trigger span {
  font-family: "Gordita", Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: var(--default);
}
.menu-container li a {
  padding: 10px 10px;
}
.menu {
  position: absolute;
  top: 50px;
  /* width: 230px; */
  border: 0.75px solid var(--default);
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  /* padding: 18px 14px; */
  border-radius: 15px;
}
.MuiSelect-icon{
  color:#EC1F28 !important;
  right: 6px !important;
}
.MuiSelect-select.MuiSelect-select {
  /* padding-right: 24px; */
  padding-left: 10px;
  text-align: left;
}
@media (max-width:500px){
  .MuiSelect-selectMenu{
    font-size: 10px !important;
  }
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  /* cursor:default; */
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li a {
  text-decoration: none;
  font-size: 14px;
  color: var(--black);
  padding: 7px 10px;
  display: block;
  border: 0.75px solid transparent;
}

.menu li a:hover {
  border: 0.75px solid var(--cherry);
  border-radius: 8px;
}

.MuiInput-underline:before {
  border-bottom: none !important;

}
.MuiInput-underline::after {
  border-bottom: none !important;
}
.MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-formControl.MuiInput-formControl {
  border: 0.917808px solid #C5C5C5 !important;
  border-radius: 20px !important;
}
#demo-controlled-open-select-label{
  padding-left: 22px;
  font-size: 14px;
}
.MuiMenu-paper {
  max-height: calc(50% - 96px) !important;
  -webkit-overflow-scrolling: touch;
}
.MuiMenu-paper::-webkit-scrollbar {
  width: 5px;
}
/* Track */
.MuiMenu-paper::-webkit-scrollbar-track {
  /* background-color: #d9d9d9  !important; */
  border-radius: 10px  !important;
}

/* Handle */
.MuiMenu-paper::-webkit-scrollbar-thumb {
  background: #ff5959  !important;

  border-radius: 10px  !important;
}

/* Handle on hover */
.MuiMenu-paper::-webkit-scrollbar-thumb:hover {
  background: #ec1f28  !important;
}




/* --------Neat Dropdown------- */

.dropDown-container{
  position: relative;
  display: inline-block;
  max-width:300px;
  width:13em;
  height:2.2em;
  cursor: pointer;
}
.dropdownWrapper{
  display:inline-block;
  border-radius: 10px;
  box-shadow: 0 2px 13px 2px #6969691f;
  padding:10px 20px 5px 20px;
  position: absolute;
  left:0;
  top:0;
  width:100%;
  background-color: white;
  z-index: 200;
}
.dropdown__input{
  position: relative;
}
.dropdown__inputText{
  font: .9em "Gordita", sans-serif;
  padding-bottom: 5px;
  border:none;
  width: 100%;
}
.dropdown__inputText:focus{
  outline: none;
}
.dropdown__input-icon{
  position: absolute;
  right: 3%;
  top: -2px;
}
.dropdown__input-icon svg{
  color:var(--cherry);
  vertical-align: text-bottom;
}
.dropdown__list-container{
  margin:5px 0;
  /* position:absolute;
  top:100%; */
  padding-top:7px;
  padding-bottom: 5px;
  border-top: 1px solid #848484;
}
.dropdown__list{
  padding-inline-start:0 ;
  list-style: none;
  margin:0;
  overflow: auto;
  max-width: 400px;
  max-height: 300px;
  padding-inline-end:10px;
}
.dropdown__list li{
  font: .9em "Gordita", sans-serif;
  font-weight: 400;
  margin: 7px 0;
  cursor:pointer;
  color:#848484;
}
.dropdown__list li:not(li.activeItem):hover{
  color:#505050;
}
.dropdown__list li.activeItem{
  color:black;
}
.dropdown__list::-webkit-scrollbar {
  width: 5px;
}
/* Track */
.dropdown__list::-webkit-scrollbar-track {
  background-color: #d9d9d9;
  border-radius: 10px;
}

/* Handle */
.dropdown__list::-webkit-scrollbar-thumb {
  background: #ff5959;
  border-radius: 10px;
}

/* Handle on hover */
.dropdown__list::-webkit-scrollbar-thumb:hover {
  background: #ec1f28;
}

.display-hidden{
  /* visibility: hidden; */
  display: none;
}

@media (max-width:767px){
  .dropdownWrapper{
    padding:5px 5px;
    border-radius: 5px;
  }
  .dropdown__inputText{
    padding-bottom: 0;
  }
  .dropdown__list-container{
    margin-bottom: 0;
    padding-bottom: 0;
  }
}